.whitespace {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
/* SidePanel.module.css */

.desktopSidebar {
  width: 100%;
  position: fixed;
  width: 70%;
  z-index: 9;
  padding: 0.7rem 1.5rem;
  background-color: white;
  transition: transform 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .desktopSidebar {
    width: 50%;
    padding: 0.7rem 0.7rem;
  }
}
@media (min-width: 992px) {
  .desktopSidebar {
    position: relative;
    width: 17%;
    background-color: transparent;
    padding: 0.7rem 0rem;
  }
}
